<?xml version="1.0"?>
<launch>
	<include file="$(find hlpr_gazebo)/launch/vector.launch">
		<arg name="room" default="$(find hlpr_nri_demo)/launch/demo_room.launch"/>
		<arg name="moveit_launch" default="true" />
    		<arg name="wpi_jaco_launch" default="true" />
    		<arg name="use_wpi_jaco_exec" default="true" />
    		<arg name="use_octomap" default="false" />
	</include>

</launch>
 
